# In .gitignore
*.aux
*.fdb_latexmk
*~
*.xdy
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.o
moc*
Makefile.*
Makefile.GUI
qrc_ressources.cpp
*.synctex.gz
moc*
